{% extends "inventoryApp/base.html" %}

{% block content %}

    <!--Register-->

    <style>
      /* Set a fixed width for the labels */
      .form-group label {
        display: inline-block;
        width: 120px;
      }
    </style>

    <div class="row justify-content-center mt-5 mb-3">
      <label class="text-center"><h1>Sign up</h1></label>
    </div>
    <form method="post" style="text-align: center;">
      {% csrf_token %}
      <div class="form-group">
        {{ form.username.label_tag }}
        {{ form.username }}
        {% if form.username.errors %}
          <div class="invalid-feedback d-block">{{ form.username.errors|join:", " }}</div>
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.email.label_tag }}
        {{ form.email }}
        {% if form.email.errors %}
          <div class="invalid-feedback d-block">{{ form.email.errors|join:", " }}</div>
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.password1.label_tag }}
        {{ form.password1 }}
        {% if form.password1.errors %}
          <div class="invalid-feedback d-block">{{ form.password1.errors|join:", " }}</div>
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.password2.label_tag }}
        {{ form.password2 }}
        {% if form.password2.errors %}
          <div class="invalid-feedback d-block">{{ form.password2.errors|join:", " }}</div>
        {% endif %}
      </div>
      <input type="submit" class="btn btn-primary mt-3 mb-3" value="Sign up" />
    </form>




{% endblock %}