{% extends 'inventoryApp/base.html' %}
{% block title %}Reports{% endblock %}

{% block content %}

    <div class="jumbotron jumbotron-fluid">
      <div class="container text-center">
        <h1 class="display-4">About Inventory Tracker</h1>
        <p class="lead">Discover the power and ease of managing your inventory with this state-of-the-art
            application!</p>
        <p>Inventory Tracker is a web application designed to help users keep track of their inventory and manage
              their menu items. The app is built with Django and makes use of several class-based views to provide a
              user-friendly interface for managing ingredients, purchases, and menu items.</p>

        <p>With Inventory Tracker, users can easily view, add, update, and delete ingredients from their inventory.
              The app also provides a search function to quickly find specific ingredients. Additionally, users can keep
              track of purchases by adding, updating, and deleting items from the purchases list.</p>

        <p>The app's menu management features allow users to create and manage their menu items, including their
              ingredients and recipe requirements. With this information, Inventory Tracker can also provide a convenient
              method of tracking the availability of menu items based on the current inventory levels of their
              ingredients.</p>

        <p>Inventory Tracker is a secure platform that requires users to log in to access its features. Whether you're
              a small business owner, restaurant manager, or just someone who wants to keep track of their inventory,
              Inventory Tracker is the solution you've been looking for.</p>
      </div>
    </div>

    <div class="container my-5">
        <div class="container text-center">
            <h1 class="display-4">About the Author</h1>
            <p>Christian Worthen is a new graduate and aspiring software engineer. He majored in Software Development at
            Western Governors University. He has a diverse portfolio of personal projects hosted on GitHub and written in
            languages such as Java, Python, C++, among others. He is now currently seeking a full time position as a
            software engineer where he can apply the skills he has learned in university. For more information on the
                author, please visit his <a href="https://github.com/cwort40" target="_blank">Github</a> and
                <a href="https://www.linkedin.com/in/christian-worthen/" target="_blank">LinkedIn</a> or
                <a href="https://drive.google.com/file/d/1U8fy-58S-U5t2kmuJ6mcPRYNmlCHasbJ/view" target="_blank">
                    view</a> his CV.</p>
        </div>
    </div>

{% endblock %}
