{% extends 'inventoryApp/base.html' %}
{% load static %}
{% block title %}Insights{% endblock %}

{% block content %}
<div class="container-fluid">
  <h2 class="mt-5" style="text-align: center">Insights</h2>
  <div class="row p-5">
    <div class="col-md-4 col-sm-12">
      <div class="card mb-3" style="min-width: 18rem; text-align: center;">
         <div class="card-body">
            <p class="card-text" style="font-size: 3rem;">${{ total_revenue|stringformat:".2f" }}</p>
        </div>
        <div class="card-footer text-muted">
          <p>Total Revenue</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card mb-3" style="min-width: 18rem; text-align: center;">
          <div class="card-body">
            <p class="card-text" style="font-size: 3rem;">${{ total_cost_of_inventory|stringformat:".2f" }}</p>
          </div>
        <div class="card-footer text-muted">
          <p>Total Inventory Cost</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card mb-3" style="min-width: 18rem; text-align: center;">
          <div class="card-body">
            <p class="card-text" style="font-size: 3rem;">${{ total_profit|stringformat:".2f" }}</p>
          </div>
        <div class="card-footer text-muted">
          <p>Total Profit</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

