{% extends 'inventoryApp/base.html' %}
{% block title %}Menu{% endblock %}
{% block content %}

<div class="container bg-dark-subtle mt-5 pt-3 pb-3">
    <h2 style="text-align: center">Menu Items</h2>
    <div class="row justify-content-between mb-3">
        <div class="col-md-2">
            <a type="button" class="btn btn-primary btn-block" href="{% url 'add-menu-item' %}">Add New Menu Item</a>
        </div>
        <div class="col-md-7">
            <a type="button" class="btn btn-primary btn-block" style="width: 25%" href="{% url 'add-recipe-requirement' %}">
                Add Recipe Requirement</a>
        </div>
        <div class="col-md-3">
            <form action="" method="get">
              <input class="form-control" style="width: auto" type="text" name="search" placeholder="Search Menu Items">
            </form>
        </div>
   </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Availability</th>
                    <th>Ingredients</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
            {% for menu_item in object_list %}
                <tr>
                    <td>
                        <a href="{% url "update-menu-item" menu_item.id %}">{{ menu_item.title }}</a>
                    </td>
                    <td class="price">${{ menu_item.price|stringformat:".2f" }}</td>
                    <td>{{ menu_item.available }}</td>
                    <td><ul class="menu-item-ingredients">
                {% for recipe_requirement in menu_item.reciperequirement_set.all %}
                <li>{{ recipe_requirement.quantity }} {{recipe_requirement.ingredient.unit }}
                    {{ recipe_requirement.ingredient.name }}</li>
                {% endfor %}
            </ul></td>
                <td><a href="{% url 'delete-menu-item' menu_item.id %}">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link bg-body-secondary" href="?page=1">First</a>
          </li>
          <li class="page-item">
            <a class="page-link bg-body-secondary" href="?page={{ page_obj.previous_page_number }}">Previous</a>
          </li>
        {% endif %}

        <li class="page-item disabled">
          <span class="page-link bg-body-secondary">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
        </li>

        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link bg-body-secondary" href="?page={{ page_obj.next_page_number }}">Next</a>
          </li>
          <li class="page-item">
            <a class="page-link bg-body-secondary" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
          </li>
        {% endif %}
      </ul>
    </div>
</div>

{% endblock %}
